<?xml version="1.0"?>
<launch>
	<node pkg="minicar" name="controller" type="controller" output="screen">
        <param name="q1" type="double" value="20.0"/>
        <param name="q2" type="double" value="20.0"/>
        <param name="q3" type="double" value="2"/>
        <param name="r1" type="double" value="10"/>
        <param name="r2" type="double" value="0.05"/>
	</node>
    
    <node pkg="minicar" name="motorsManager" type="motorsManager"/>
    <node pkg="minicar" name="btsSensors" type="localization"/>
    <node pkg="minicar" name="kalmanFilter" type="kalmanFilter">
		<param name="yaw" type="double" value="1.57"/>
	</node>
	<node pkg="minicar" name="accelerometer" type="accelerometer" />
</launch>
